# Data Gathering
Kita akan ambil dari Kaggle, Dibutuhkan API. Silahkan unduh library Kaggle terlebih dahulu

### Instalasi Kaggle

In [7]:
!pip install kaggle

Requirement already satisfied: kaggle in a:\program\anaconda\lib\site-packages (1.5.12)
Requirement already satisfied: certifi in a:\program\anaconda\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in a:\program\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: urllib3 in a:\program\anaconda\lib\site-packages (from kaggle) (1.26.7)
Requirement already satisfied: tqdm in a:\program\anaconda\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in a:\program\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in a:\program\anaconda\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: python-dateutil in a:\program\anaconda\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in a:\program\anaconda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in a:\program\anaconda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in a:\program\anaconda\lib\site-packages (from requests->kaggle) (3.2)
Requirement already satisfied: colorama in a:\program\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.4)

### Unduh dataset dari kaggle

In [13]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

goal-dataset-top-5-european-leagues.zip: Skipping, found more recently modified local copy (use --force to force download)

### Import Library Pandas and Numpy

In [35]:
import pandas as pd
import numpy as np

In [39]:
path = "goal-dataset-top-5-european-leagues/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

In [40]:
df

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [41]:
df.dtypes

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [52]:
df_tanpaid = df.iloc[1:,1:]
df_tanpaid

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [55]:
df_rapi = df_tanpaid.sort_values(by="player_name", ascending=True)
df_rapi.head(15)

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
154,7991,Aaron Connolly,16,755,2,4.412464,1,0.149897,22,5,0,0,F M S,Brighton,2,4.412464,4.720931,0.191225
281,534,Aaron Cresswell,35,3086,0,0.883464,8,7.347331,19,57,3,0,D,West Ham,0,0.883464,10.609667,8.381824
390,5603,Aaron Ramsdale,37,3330,0,0.000000,0,0.053571,0,1,1,0,GK,Sheffield United,0,0.000000,2.794618,2.741047
139,5584,Aaron Wan-Bissaka,34,3060,2,0.932454,4,2.547663,7,31,3,0,D,Manchester United,2,0.932454,12.242123,9.676275
126,1726,Abdoulaye Doucouré,28,2409,2,2.369523,3,2.381616,18,20,6,0,M,Everton,2,2.369523,10.355722,6.733990
380,4866,Aboubakar Kamara,11,303,0,0.654920,0,0.328969,4,6,1,1,F M S,Fulham,0,0.654920,1.103215,0.182326
163,486,Adam Lallana,29,1528,1,1.614306,1,2.628758,22,25,0,0,F M S,Brighton,1,1.614306,9.719970,5.874305
242,7699,Adam Webster,28,2506,1,1.272957,0,0.253216,25,5,4,0,D,Brighton,1,1.272957,7.623944,7.481681
119,900,Adama Traoré,36,2604,2,1.995262,2,5.228081,41,54,4,0,D F M S,Wolverhampton Wanderers,2,1.995262,9.373142,3.006398
75,5556,Ademola Lookman,34,2765,4,6.251116,4,5.258407,69,61,5,0,F M S,Fulham,4,5.489947,15.355220,7.334159
278,527,Adrián,3,270,0,0.000000,0,0.000000,0,0,0,0,GK,Liverpool,0,0.000000,0.397439,0.397439
345,1685,Ahmed Elmohamady,14,823,0,0.341273,0,0.989466,9,13,2,0,D S,Aston Villa,0,0.341273,2.426968,1.610212
377,3979,Ahmed Hegazy,1,90,0,0.000000,0,0.000000,0,0,0,0,D,West Bromwich Albion,0,0.000000,0.184028,0.184028
355,1750,Ainsley Maitland-Niles,26,1719,0,0.796191,0,0.821991,12,6,2,0,D M S,"Arsenal,West Bromwich Albion",0,0.796191,5.968474,5.051884
88,773,Aleksandar Mitrovic,27,1369,3,5.677363,3,2.924711,59,23,3,0,F S,Fulham,2,4.155025,7.808299,1.849482

In [ ]:
df_rapi = df_tanpaid.sort_values(by="assist", ascending=True)
df_rapi.head(15)