## Imputasi

In [1]:
import pandas as pd
import numpy as np

### Mean
Mencari nilai rata-rata

buat data baru

In [2]:
kolom = {
    'column1': [2,9,19],
    'column2': [5, np.nan, 17],
    'column3': [7,14, np.nan],
    'column4': [np.nan,14,8],
    'column5': [np.nan,np.nan,8],
}

data = pd.DataFrame(kolom)
data

   column1  column2  column3  column4  column5
0        2      5.0      7.0      NaN      NaN
1        9      NaN     14.0     14.0      NaN
2       19     17.0      NaN      8.0      8.0

Isi data dengan rata rata tiap kolom

In [3]:
data1 = data.fillna(data.mean())
data1

   column1  column2  column3  column4  column5
0        2      5.0      7.0     11.0      8.0
1        9     11.0     14.0     14.0      8.0
2       19     17.0     10.5      8.0      8.0

### Arbitrary (Nilai Suka suka)

Mengisi data frame NaN dengan nilai 10

In [4]:
data2 = data.fillna(10)
data2

   column1  column2  column3  column4  column5
0        2      5.0      7.0     10.0     10.0
1        9     10.0     14.0     14.0     10.0
2       19     17.0     10.0      8.0      8.0

### End of Tail

In [5]:
umur = {'umur': [29,43,np.nan,25,34,np.nan,50]}
dataUmur = pd.DataFrame(umur)
dataUmur

   umur
0  29.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  50.0

In [6]:
!pip install feature-engine

Requirement already satisfied: feature-engine in a:\program\anaconda\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.0.3 in a:\program\anaconda\lib\site-packages (from feature-engine) (1.3.4)
Requirement already satisfied: numpy>=1.18.2 in a:\program\anaconda\lib\site-packages (from feature-engine) (1.20.3)
Requirement already satisfied: statsmodels>=0.11.1 in a:\program\anaconda\lib\site-packages (from feature-engine) (0.12.2)
Requirement already satisfied: scikit-learn>=0.22.2 in a:\program\anaconda\lib\site-packages (from feature-engine) (0.24.2)
Requirement already satisfied: scipy>=1.4.1 in a:\program\anaconda\lib\site-packages (from feature-engine) (1.8.0)
Requirement already satisfied: pytz>=2017.3 in a:\program\anaconda\lib\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in a:\program\anaconda\lib\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in a:\program\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.16.0)
Requirement already satisfied: joblib>=0.11 in a:\program\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in a:\program\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature-engine) (2.2.0)
Requirement already satisfied: patsy>=0.5 in a:\program\anaconda\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)

In [17]:
from feature_engine.imputation import EndTailImputer

imputer = EndTailImputer(imputation_method='gaussian', tail='right')
imputer.fit(dataUmur)
test_data = imputer.transform(dataUmur)
test_data

        umur
0  29.000000
1  43.000000
2  66.896905
3  25.000000
4  34.000000
5  66.896905
6  50.000000

### Modus
Data Kategorikal

In [19]:
from sklearn.impute import SimpleImputer
mobil = {
    'merk': ['ford', 'ford', 'honda', 'toyota', 'nissan', np.nan, 'toyota', 'honda', 'toyota', np.nan, np.nan]
}

dataMobil = pd.DataFrame(mobil)

In [14]:
data

   column1  column2  column3  column4  column5
0        2      5.0      7.0      NaN      NaN
1        9      NaN     14.0     14.0      NaN
2       19     17.0      NaN      8.0      8.0

Pakai Modus

In [22]:
imp = SimpleImputer(strategy='most_frequent')

transform data

In [23]:
imp.fit_transform(dataMobil)

array([['ford'],
       ['ford'],
       ['honda'],
       ['toyota'],
       ['nissan'],
       ['toyota'],
       ['toyota'],
       ['honda'],
       ['toyota'],
       ['toyota'],
       ['toyota']], dtype=object)